{% extends 'gamepicker/base.html' %}

{% block title %}Game Picker{% endblock %}

{% block content %}
  {% if request.user.is_anonymous == False %}
  <h5>Hello {{request.user}}</h5>
  {% endif %}
  <div id="loading">
    <h4>loading...</h4>
  </div>
  <div class="hidden" id="main">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix"></i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Search Games</label>
          </div>
        </div>
      </div>
    </div>
      <!-- Dropdown Trigger -->
    <a id='dropdown-btn' class='dropdown-trigger btn' href='#' data-target='dropdown1'>Genre</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <!-- <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li> -->
      <!-- <li class="divider" tabindex="-1"></li> -->
      <!-- <li><a href="#!">three</a></li>
      <li><a href="#!">four</a></li>
      <li><a href="#!">five</a></li> -->
    </ul>

    <a id='dropdown-btn2' class='dropdown-trigger btn' href='#' data-target='dropdown2'>Platform</a>
    <ul id='dropdown2' class='dropdown-content'>
     
    </ul>
    <a class="waves-effect waves-light btn-large" id="random-btn">Random Game</a>
  </div>
  <div class="chips"></div>
  <div id="search-result"></div>
{% endblock %}