.hidden {
  display: none;
  /* visibility: hidden; */
}

.input-field label {
  color: #212121;
}

.chips input::placeholder {
  color: #212121;
}

img {
  max-width: 100%;
}

.btn-large {
  margin-bottom: 1em;
}

#main {
  margin-top: 2em;
}